allow from all

Options -Indexes

DirectoryIndex /master.php?route=index

ErrorDocument 404 /master.php?route=notfound
ErrorDocument 403 /master.php?route=notfound

RewriteEngine On

RewriteRule ^(donate|checkout|joinwhatsapp|contact|privacy|refunds)/?$ /master.php?route=$1 [NC,L]

