.profile__form {
	padding: 3em;
}
.profile__fields {
	width:100%;
	display: block;
}
.profile__footer {
	margin-top:10px;
	width:100%;
	display: block;
}
.field
{
  	vertical-align:top;
	display:inline-block;
  	width: 100%;
}
.input {
	width: 100%;
	font-size: 100%;
	border: 0;
	padding: 0;
	background-color: transparent;
	height: 2rem;
	line-height: 2rem;
	border-bottom: 1px solid #eee;
	color: #777;
	position: relative;
}
#monthly-wrap {
	display:block;
  	margin: 0 auto;
	text-align:center;
}
#monthly-wrap p, #monthly-wrap label{
  	color: #777;
  	
}
#monthly-wrap .radio-wrap
{
	position:relative;
	width: 200px;
  	margin: 0 auto;
  	/*transform: translateX(-50%);
	left:50%;*/
}
#monthly-wrap .radio-field
{
	display:inline-block;
	width:48%;
	margin:0;
}

.half {
  width: 49%;
}

#state, #postal{
	width:24%;
}

header .donate-link
{
	visibility: hidden;
	height: 0;
}
.error-msg
{
  width: 100%;
  height: 2rem;
  color:red;
}
.profile__footer .disclaimer
{	
	width:100%;
	color:black;
	padding-bottom:20px;
  	text-align:center;
}

.input:focus {
  outline: 0;
  border-color: #ccc;
}
.btn 
{
	height: 2.5rem;
	line-height: 2.5rem;
	padding: 0 1.5rem;
	margin-right:10px;
}
.profile__footer .btn
{
  	transform: translateX(-50%);
  	left:50%;
}
.hidden
{
	visibility: hidden;
	height: 0;
}
.subscription-wrapper p
{
	margin-top:50px;
  	text-align:center;
	color: #777;
}
@media all and (max-width:640px) and (min-width:500px){
	
	#state, #postal{
		width:49%;
	}

	#city {
	  width: 100%;
	}
}
@media all and (max-width:500px) and (min-width:400px){
	.half{width: 100%;}
	#state, #postal{width:49%;}
}
@media all and (max-width:400px) and (min-width:240px){
	.half, #state, #postal{width: 100%;}
	.btn{font-size:60%;height:1.5rem;line-height:1.5rem}
}
@media print{.btn{visibility: hidden;height: 0;}}
