/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none; color:inherit;}
.clear{clear:both; margin-top:3px;}/* clear float */
img{max-width:100%;}
/*end reset*/
@font-face{
	font-family:'Abel';
	font-style:normal;
	font-weight:400;
	src: url(/styles/Abel-Regular.ttf);
}
html, body{
    font-family: 'Abel', Ariel, Tahoma;
	background: url(../images/bg.png);
	background-size:100%;
	height:100%;
}
.content{
	min-height: 100%; 
	position:relative;
	margin-bottom: -25px;
}
.footer, .push
{
    	text-align:center;
	color: #C4C4C4;
	font-size:13px;
	height: 25px;
	width:100%;
}
.wrap{
	width:1200px;
	padding:20px 0 0;
	margin:0 auto;
	transition:all .2s linear;
	-moz-transition:all .2s linear;
	-webkit-transition:all .2s linear; 
	-o-transition:all .2s linear; 
	-ms-transition:all .2s linear;
}
.menu-wrap{
	width:1200px;
	padding:0 40px;
	margin:0 auto;
	transition:all .2s linear;
	-moz-transition:all .2s linear;
	-webkit-transition:all .2s linear; 
	-o-transition:all .2s linear; 
	-ms-transition:all .2s linear;
}
.header{
	background:#3a3e45;
	padding: 20px;
	border-top:3px solid #27ADA6;
}
h2
{
    text-align:center;
	font-size:2em;
	font-family: 'Abel', Ariel, Tahoma;
	color: #C4C4C4;
    margin-bottom:20px;
}
h3
{
	font-family: 'Abel', Ariel, Tahoma;
	color:black;
}
form h3
{
	padding-bottom:20px;
}
.lbl {
	font-family: 'Abel', Ariel, Tahoma;
    font-size: 20px;
    color: #27ADA6;
    float: left;
}
.val
{
    float: right;
    font-family: 'Abel', Ariel, Tahoma;
    font-size: 20px;
}
.logo{
	float:left;
	margin-right: 0px;
	padding: 10px;
	margin-top: -20px;
	background:#27ada6;
	display:block;
	font-family: 'Abel', Ariel, Tahoma;
	color:#fff;
	font-size:2em;
}
.logo a{
	color:#fff;
}
.logo a:hover{
	background:#27bfb6;
}
.logo:hover{
	background:#27bfb6;
}
.content h1{
	text-align:center;
	font-size:3em;
	font-family: 'Abel', Ariel, Tahoma;
	color: #C4C4C4;
}
.vals-wrapper
{
	text-align:center;
	font-size:1em;
	font-family: 'Abel', Ariel, Tahoma;
	color: #C4C4C4;
    	margin:0 auto;
	width:600px;
}

.span_1_of_3 {
	width: 31.2%;
}
.col {
	display: block;
	float: left;
	margin: 1% 0 1% 1.6%;
}
.grid1-l-img {
	float: left;
	margin-top: 5px;
	margin-right: 10px;
}
.grid1-l-desc{
	margin-top: 5px;
	font-family: 'Abel', Ariel, Tahoma;
}
.grid-bot {
	font-size: 20px;
	color:#27ADA6;
	vertical-align: top;
	padding: 6px;
}
.small-note
{
    color: #C4C4C4;
	font-size: 13px;
	line-height: 1.8em;
}
.grid-desc{
	color: #C4C4C4;
	font-size: 13px;
	line-height: 1.8em;
}
@media all and (max-width:1220px) and (min-width:1180px){
	.wrap{
		width:1150px;
	}
	.menu-wrap{
		width:1150px;
	}
}
@media all and (max-width:1180px) and (min-width:1024px){
	.wrap{
		width:1000px;
		padding: 30px;
	}
	.menu-wrap{
		width:1000px;
		padding:0 20px;
	}
	.content h1 {
		font-size:2.5em;

	}
	.content h2 {
		font-size:1.8em;

	}
	#zmanim-header {
		font-size:1.8em;
	}
}
@media all and (max-width:1024px) and (min-width:800px){
	.wrap{
		width:760px;
		padding: 20px;
	}
	.menu-wrap{
		width:760px;
		padding:0 20px;
	}
	.content h1 {
		font-size:2.5em;
	}
	.content h2 {
		font-size:1.8em;

	}
	#zmanim-header {
		font-size:1.8em;
	}
}
@media all and (max-width:800px) and (min-width:640px){
	.wrap{
		width:600px;
		padding: 20px;
	}
	.menu-wrap{
		width:600px;
		padding:0 20px;
	}
	.content h1 {
		font-size:2em;
	}
	.content h2 {
		font-size:1.6em;

	}
	#zmanim-header {
		font-size:1.6em;
	}
	.logo {
		margin-top: -32px;
	}
	.grid-desc p {
		line-height: 1.5em;
	}
}
@media all and (max-width:640px) and (min-width:560px){
	.wrap{
		width:520px;
		padding: 20px;
	}
	.menu-wrap{
		width:520px;
		padding:0 20px;
	}
	.text{
		display:none;
	}
	.vals-wrapper {
		width:520px;
	}
	.content h1 {
		font-size:2em;
	}
	.content h2 {
		font-size:1.6em;

	}
	#zmanim-header {
		font-size:1.6em;
	}
	.logo {
		margin: -20px 130px 0 0px;
		padding:5px;
	}
	.span_1_of_3 {
		width:100%;
	}
	.col {
		float:none;
	}
}
@media all and (max-width:560px) and (min-width:480px){
	.wrap{
		width:440px;
		padding: 20px;
	}
	.menu-wrap{
		width:440px;
		padding:0 20px;
	}
	.text{
		display:none;
	}
	.vals-wrapper {
		width:440px;
	}
	.content h1 {
		font-size:2em;
	}
	.content h2 {
		font-size:1.6em;

	}
	#zmanim-header {
		font-size:1.6em;
	}
	.logo {
		margin: -20px 130px 0 0px;
		padding:5px;
	}
	.span_1_of_3 {
		width:100%;
	}
	.col {
		float:none;
	}
}
@media all and (max-width:480px) and (min-width:400px){
	.wrap{
		width:360px;
		padding:10px;
	}
	.menu-wrap{
		width:360px;
		padding:0 10px;
	}
	.text{
		display:none;
	}
	.vals-wrapper {
		width:360px;
	}
	.content h1 {
		font-size:1.8em;
	}
	.content h2 {
		font-size:1.4em;
	}
	#zmanim-header {
		font-size:1.4em;
	}
	.logo {
		margin: -20px 60px 0 0px;
		padding:5px;
	}
	.span_1_of_3 {
		width:100%;
	}
	.col {
		float:none;
		margin: 0px;
	}
}
@media all and (max-width:400px) and (min-width:310px){
	.wrap{
		width:300px;
		padding:10px;
	}
	.menu-wrap{
		width:300px;
		padding:0 10px;
	}
	.text{
		display:none;
	}
	.vals-wrapper {
		width:300px;
	}
	.content h1 {
		font-size:1.8em;
	}
	.content h2 {
		font-size:1.4em;
	}
	#zmanim-header {
		font-size:1.4em;
	}
	.logo {
		margin: -20px 60px 0 0px;
		padding:5px;
	}
	.span_1_of_3 {
		width:100%;
	}
	.col {
		float:none;
		margin: 0px;
	}
}
@media all and (max-width:310px) and (min-width:240px){
	.wrap{
		width:220px;
		padding:10px;
	}
	.menu-wrap{
		width:220px;
		padding:0 10px;
	}
	.text{
		display:none;
	}
	.vals-wrapper {
		width:220px;
	}
	.content h1 {
		font-size:1.5em;
	}
	.content h2 {
		font-size:1.2em;
	}
	#zmanim-header {
		font-size:1.2em;
	}
	.logo {
		margin: -20px 20px 0 0px;
		padding:0px;
	}
	.span_1_of_3 {
		width:100%;
	}
	.col {
		float:none;
		margin: 0px;
	}
	.grid1-l-img {
		margin-right:5px;
		width: 25px;
	}
	.grid1-l-desc p{
		font-size:17px;
	}
}
@media print
{
	.footer
	{
    		visibility: hidden;
		height: 0;
	}
}
