html,body,div,span,h1,h2,p,b,a,img,form,label,footer,header,main{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
footer, header{display: block;}
a{text-decoration:none; color:inherit;}
.clear{clear:both; margin-top:3px;}/* clear float */
img{max-width:100%;}
@font-face{font-family:'Abel';font-style:normal;font-weight:400;src: url(/styles/Abel-Regular.ttf);}

html, body
{
    	font-family: 'Abel', Ariel, Tahoma;
	color: #C4C4C4;
	background: url(../images/bg.png);
	background-size:100%;
	height:100%;
}
header
{
	background:#3a3e45;
	padding: 20px;
	border-top:3px solid #27ADA6;
}
header .inner
{
	width:1150px;
	margin:0 auto;
    	text-align:right;
	color: #C4C4C4;
	font-size:2em;
}
.content
{
	min-height: 100%; 
	position:relative;
	margin-bottom: -25px;
}
main
{
	width:1150px;
	margin:0 auto;
}
footer, .push
{
    	text-align:center;
	font-size:13px;
	height: 25px;
	width:100%;
}
.logo
{
	float:left;
	margin-right: 0px;
	padding: 10px;
	margin-top: -20px;
	background:#27ada6;
	display:block;
	color:#fff;
	text-align:center;
}
.logo a{color:#fff;}
.logo a:hover, .logo:hover{background:#27bfb6;}
.wrap
{
	visibility:visible;
	background: white;
	position:relative;
	border-radius: .25em;
	-webkit-filter: drop-shadow(0 0 2em rgba(0,0,0,0.2));
	display: block;
}
h1
{
	padding:1.5rem 0;
	font-size:3em;
    	text-align:center;
}
h2
{
	padding:1.5rem 0;
	font-size:2em;
    	text-align:center;
}
.vals-wrapper
{
	text-align:center;
	font-size:1em;
    	margin:0 auto;
	box-sizing: border-box;
	width:600px;
	padding:0 10px 2em 10px;
}
.lbl 
{
    	font-size: 20px;
    	color: #27ADA6;
    	float: left;
}
.val
{
    	float: right;
    	font-size: 20px;
	color: #777;
}
.plain-text
{
	color: #C4C4C4;
	font-size: 13px;
	line-height: 1.8em;
}
.btn 
{
	position:relative;
	color: white;
	background: #27ada6;
	text-transform: uppercase;
	border-radius: .25rem;
	letter-spacing: .2em;
	text-align:center;
	margin-top:5px;
}
.btn:hover
{
	background: #27bfb6;
}
.btn, .btn:focus
{
	border: 0;
	outline: 0;
}
a.btn
{
	display:inline-block;
}

.links
{
	text-align:center;
	margin-top:10px;
}

.links a
{
	display:inline-block;
}
.inline-break
{
	display:inline-block;
	width:20px;
}
#footer-links
{
	position:relative;
	vertical-align:bottom;
	bottom:0;
    	font-size: 20px;
    	color: #27ADA6;
}
@media all and (max-width:1220px) and (min-width:1180px){
	header .inner, main{width:1100px;}
}
@media all and (max-width:1180px) and (min-width:1024px){
	header .inner, main{width:1000px;}
	h1{font-size:2.5em;}
	h2 {font-size:1.8em;}
}
@media all and (max-width:1024px) and (min-width:800px){
	header .inner, main{width:760px;}
	h1{font-size:2.5em;}
	h2{font-size:1.8em;}
}
@media all and (max-width:800px) and (min-width:720px){
	header .inner, main{width:700px;}
	h1 {font-size:2em;}
	h2 {font-size:1.6em;}
	.column p {line-height: 1.5em;}
}
@media all and (max-width:720px) and (min-width:640px){
	header .inner, main{width:600px;}
	h1 {font-size:2em;}
	h2 {font-size:1.6em;}
	.column p {line-height: 1.5em;}
}
@media all and (max-width:640px) and (min-width:560px){
	header .inner, main, .vals-wrapper{width:520px;}
	h1 {font-size:2em;}
	h2 {font-size:1.6em;}
	.column{width:100%;}
	.column p {line-height: 1.5em;}
}
@media all and (max-width:560px) and (min-width:480px){
	header .inner, main, .vals-wrapper{width:440px;}
	.header{padding: 10px 10px;}
	h1{font-size:2em;}
	h2{font-size:1.6em;}
	.column{width:100%;}
	.column p {line-height: 1.5em;}
}
@media all and (max-width:480px) and (min-width:401px){
	header .inner, main, .vals-wrapper{width:380px}
	.header{padding: 10px 10px;}
	h1{font-size:1.8em;}
	h2{font-size:1.4em;}
	.column{width:100%;}
	.column p {line-height: 1.5em;}
}
@media all and (max-width:400px) and (min-width:310px){
	header .inner, main, .vals-wrapper, header .inner{width:280px}
	main{padding:10px;}
	header .inner{padding:0 10px;}
	header{padding: 10px 0;}
	.donate-link{margin: 10px 0 -10px 0;float:none;text-align:center;}
	h1{font-size:1.8em;}
	h2{font-size:1.4em;}
	.logo {text-align:center;float:none;}
	.val, .lbl{font-size:15px;}
}
@media all and (max-width:309px) and (min-width:240px){
	header .inner, main{width:220px;padding: 10px;}
	header{padding: 10px 0;}
	.vals-wrapper {width:220px;}
	h1 {font-size:1.5em;}
	h2 {font-size:1.2em;}
	.donate-link{
		font-size:1.7em;
		margin:10px 0 -10px 0;
		float:none;
		text-align:center;
	}
	.logo {
		text-align:center;
		float:none;
		font-size:1.7em;
		padding:5px;
	}
	.val, .lbl{font-size:15px;}
}
@media print{footer{visibility:hidden;height: 0;}}
